@model PostDto
@inject IOptionsSnapshot<BlogSettings> settings	
@inject IRenderService renderService
@inject IRouteService routeService
@inject ITranslationProvider i18n
@inject IUserRoleResolver userRoleResolver

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Excerpt;
    bool showFullPost = ViewContext.RouteData.Values.ContainsKey("slug");
    bool isCodePreview = Model.Content.Contains("</code>");
}

@section Head {
    <link rel="canonical" href="@routeService.GetAbsoluteLink(Model))" />
}

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 itemprop="name headline"><a href="@routeService.GetLink(Model)" rel="canonical" itemprop="url">@Model.Title</a></h1>
        <time datetime="@Model.PubDate.ToString("s")" itemprop="datePublished">@i18n.Translate("Post.Published") @Model.PubDate.ToString("MMM d, yyyy")</time>
        @if (userRoleResolver.IsAdmin())
        {
            <a asp-controller="Blog" asp-action="edit" asp-route-id="@Model.Id" title="@i18n.Translate("Post.EditPostTitle")" class="btn btn-edit">@i18n.Translate("Post.EditPost")</a>
        }
    </header>

    <div itemprop="articleBody mainEntityOfPage" cdnify>
        @Html.Raw(renderService.RenderContent(Model))
    </div>

    <footer>
        @if (Model.Categories.Any())
        {
            <ul class="categories">
                <li> @i18n.Translate("Post.PostedIn") </li>
                @foreach (ICategory cat in Model.Categories)
                {
                    <li itemprop="articleSection"><a asp-controller="Blog" asp-action="Category" asp-route-categoryId="@cat.Id" asp-route-page="">@cat.Name</a></li>
                }
            </ul>
            <text>@i18n.Translate("Post.AndHas")</text>
        }

        <a href="@routeService.GetCommentLink(Model)" itemprop="discussionUrl" title="@i18n.Translate("Post.GoToComments")">
            <span itemprop="commentCount">@Model.Comments.Count</span> @(Model.Comments.Count == 1 ? i18n.Translate("Post.Comment") : i18n.Translate("Post.Comments"))
        </a>

        <meta itemprop="author" content="@settings.Value.Owner" />
        <meta itemprop="dateModified" content="@Model.LastModified.ToString("s")" />
        <meta itemprop="mainEntityOfPage" content="@routeService.GetAbsoluteLink(Model)" />
    </footer>
</article>

@if (showFullPost)
{
    await Html.RenderPartialAsync("_SocialSharing", Model.Title);
    await Html.RenderPartialAsync("Comments");

    @section Preload {
        @* This lazy loads the stylesheet in a non-render blocking way *@
        <link rel="preload" href="~/css/comments.scss" as="style" />
        <noscript><link rel="stylesheet" href="~/css/comments.scss" /></noscript>
        @if (isCodePreview)
        {
            <link rel="preload" href="~/lib/prism/prism.scss" as="style" />
            <script src="~/lib/prism/prism.js" async defer></script>
        }
    }
}

@if (userRoleResolver.IsAdmin())
{
    @section Scripts {
        <script src="~/js/admin.js" async defer></script>
        <link rel="stylesheet" href="~/css/admin.scss" />
    }
}
