@model IEnumerable<CategoryDto>
@inject ITranslationProvider i18n
@inject IUserRoleResolver userRoleResolver

@{
   ViewData["Title"] = i18n.Translate("Category.Title");
}

@section Head{
    <link rel="stylesheet" href="~/css/admin.scss" />
}

<div class="container">
	@if (userRoleResolver.IsAdmin())
    {
		<div class="container-row">
			<a class="btn btn-edit" asp-controller="Category" asp-Action="Edit" 
							title="@i18n.Translate("Category.NewCategoryTitle")">@i18n.Translate("Category.NewCategory")</a>
		</div>
	}
	
	<div class="container-row">
		<table class="overview-table category-table">
			@{
				int index = 1;
				string evenClass = "even";
			}
			@foreach (var category in Model)
			{
				<tr class="@(index % 2 == 0 ? evenClass : null)">
					<td>
						<a asp-controller="Blog" asp-action="Category" asp-route-categoryId="@category.Id" asp-route-page="">@category.Name (@category.PostCount)</a>
					</td>
					@if (userRoleResolver.IsAdmin())
    				{
						<td>
							<button class="btn btn-icon btn-icon-only btn-opener">
								<i class="fa fa-angle-down expand-icon"></i>
								<i class="fa fa-angle-up collapse-icon"></i>
							</button>
							@{await Html.RenderPartialAsync("TableButtons.cshtml", category);}
						</td>
					}	
				</tr>
				@if (userRoleResolver.IsAdmin())
    			{
					<tr class="expand-row @(index % 2 == 0 ? evenClass : null)">
						<td colspan="2">
							<div class="expand-content">
								@{await Html.RenderPartialAsync("TableButtons.cshtml", category);}
							</div>							
						</td>
					</tr>
				}
				index++;
			}
		</table>
	</div>
</div>



@section Scripts {
	@if(userRoleResolver.IsAdmin())
	{
		<script src="~/js/admin.js" async></script>
	}    
}
